@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root{
    --roboto: 'Roboto', sans-serif;
    --mont: 'Montserrat', sans-serif;
    --aleo: 'Aleo', serif;
    --open: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(145,145,145,1) 100%, rgba(255,255,255,1) 100%);
    margin: 70px;
    font-family: var(--roboto);
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: white;
}
.header-logo{
    max-width: 30%;
}
.content{
    color: white;
    font-size: 1rem;
}
.content-title{
    font-weight: 400;
    font-size: 3em;
    padding: 50px 0 50px 0;
}
.content-cardholder{
    justify-content: right;
    display: flex;
    margin: 10px;
}
.content-cardholder-card{
    padding: 15px;
    color: black;
    max-width: 290px;
    margin: 5px;
    border-radius: 10px;
    font-family: var(--open);
    animation-name: animate;
    animation-duration: 4s;
}
.content-cardholder-card-content{
    padding: 15px;
}
.content-cardholder-card-content h2{
    font-size: 2em;
    padding-bottom: 10px;
}
.content-cardholder-card-content li, .content-cardholder-card-content p{
    font-size: 1.2em;
    font-family: var(--mont);
}
.card1{
    background: rgb(38,232,251);
    background: linear-gradient(304deg, rgba(38,232,251,0.8) 0%, rgba(244,76,249,0.6) 100%);
}
.card2{
    background: rgb(38,232,251);
    background: linear-gradient(135deg, rgba(38,232,251,0.8) 0%, rgba(244,76,249,0.6) 100%);
}
.card3{
    background: rgb(38,232,251);
    background: linear-gradient(210deg, rgba(38,232,251,0.8) 0%, rgba(255,48,254,0.6) 79%);
}
@media (max-width: 768px){
    body{
        margin: 30px;
    }
    .header{
        flex-direction: column;
        font-size: .9rem; 
    }
    .header-contact{
        padding-top: 10px;
    }
    .content{
        font-size: 1rem;
    }
    .content-title{
        padding: 20px 0 20px 0;
    }
    .content-cardholder{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-cardholder-card{
        width: 300px !important;
        height: 300px;
        max-width: 1000px;
    }
}
@media (max-width: 400px){
    body{ 
        margin: 15px;
    }
    .header{
        font-size: .7rem;
    }
    .content{
        font-size: 1rem;
    }
    .content-title{
        font-size: 1.7em;
    }

    .content-cardholder-card{
        margin: 5px;
        max-width: 250px;
        height: 450px !important;
    }
}
div.header-contact{
	text-align: right;
	font-family: var(--mont);
}
a
{
    color: #ffffff;
}
p.contact-us{
	font-weight: bold;
	font-style: italic;
	font-family: var(--aleo);
	font-size: 1px;
}
@keyframes animate{
0% {opacity: 0.0;}
10% {opacity: 0.3;}
20% {opacity: 0.7;}
30% {opacity: 0.9;}
40% {opacity: 1;}
100% {opacity: 1;}
}
